{
  "AMI_ID": "ami-xxx",
  "INSTANCE_TYPE": "t3.medium",
  "KEY_PAIR_NAME": "my-key-pair-name",
  "KEY_PATH": "/opt/airflow/my-key-pair-name.pem",
  "MLFLOW_EXPERIMENT_ID": 1,
  "MLFLOW_TRACKING_URI": "https://xxx",
  "MLFLOW_LOGGED_MODEL": "s3://bucket/xxx",
  "S3BucketName": "xxx",
  "S3Path": "xxx/xxx",
  "SECURITY_GROUP_ID": "sg-xxx",
}
